!!! 5
%html
    %head
        %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
        %title= "兩岸服務貿易協定影響地圖"
        %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
        %link{rel: 'stylesheet', href: 'http://cdn.leafletjs.com/leaflet-0.5/leaflet.css'}
        /[if lte IE 8]
            %link{rel:'stylesheet', href:'http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css'}
        %link{rel:"stylesheet", href:"/assets/application.css"}
        %script{:"data-main" => "index", :src => '//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js'}
    %body
        #map
