<html>
<head>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<title></title>
</head>
<body>
	<form action="<%= url("/search/") %>">
		<input type="text" name="keyword" class="main" placeholder="搜尋公司名稱"/>
		<input type="submit">
	</form>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript">
		VARS = <%= {ajaxUrl: url("/autocomplete")}.to_json %>
	</script>
	<script type="text/javascript" src="/assets/application.js"></script>
</body>
</html>