<div class="ly-person">
    <div class="unit" id="{{name}}">
        <p class="{{party}} kmt name">{{name}}</p>
        <div class="ly-person-left">
            <img src="{{avatar}}?size=large" width="200"/>
        </div>
    <div class="ly-person-right">
        <div class="ly-contact">
            {{#each [contact]}}
            <p>{{@key}}</p>
            <ul>
                {{#if this.phone}}
                <li class="phone">{{this.phone}}</li>
                {{/if}}
                {{#if this.address}}
                <li class="address">{{this.address}}</li>
                {{/if}}
                {{#if this.fax}}
                <li class="fax">{{this.fax}}</li>
                {{/if}}
            </ul>
            {{/each}}
        </div>
    </div>
    <div class="ly-person-clear">
    </div>
</div>