@import compass
@import com-variables
@import bootstrap

$base-font-size: $font-size-base
$base-line-height: $font-size-base * $line-height-base
+establish-baseline

h1
  +adjust-font-size-to($font-size-h1-mobile)
  @media (min-width: #{$screen-md})
    +adjust-font-size-to($font-size-h1)
h2
  +adjust-font-size-to($font-size-h2-mobile)
  @media (min-width: #{$screen-md})
    +adjust-font-size-to($font-size-h2)
h3
  +adjust-font-size-to($font-size-h3-mobile)
  @media (min-width: #{$screen-md})
    +adjust-font-size-to($font-size-h3)




$topbar-height: 67px
#topbar
  background: $gray
  height: $topbar-height
  text-align: right
  img
    margin-top: ($topbar-height - image-height('com/fake-share.png'))/2
    margin-right: 20px

.banner
  height: 360px
  background: image-url('com/labor.png') center 177px no-repeat, image-url('com/stripes.png') center top no-repeat
  background-color: #ffac02

  img
    margin-top: $topbar-height * -1

#query
  .query-form
    +leader(5)
    +trailer(5)

    h1
      letter-spacing: 5px

    input
      +leader(2)
      +trailer(2)

#poll
  header
    background: $brand-info
    position: relative // For the triangle
    +padding-trailer(1)

    // The CSS triangle
    &:after
      $size: 10px
      border: $size solid transparent
      border-top-color: $brand-info
      content: ''
      position: absolute
      left: 50%
      margin-left: $size * -1
      bottom: $size * -2

    // Image in header
    img
      margin-top: -65px

  // Title of the poll section
  h2
    color: #fff
    letter-spacing: 2px

    @media (min-width: #{$screen-md})
      +adjust-font-size-to($font-size-h2)

#action
  background-color: $gray-lighter

#footer
  background-color: $gray